.references/
target/
.local/
node_modules/
coverage/
**/.vite/
**/dist/
playwright-report/
test-results/
apps/workbench/public/file-viewer/
apps/workbench/dummy-non-existing-folder/
apps/desktop/public/file-viewer/
apps/desktop/dummy-non-existing-folder/
__pycache__/
*.pyc
